/*Меню страницы*/
.py-5 {
    padding-top: 1rem !important;
}

.info-pan {
    margin-bottom: 20px;
}

.panel-input {
    max-width: 740px
}

.panel-projects {
    max-width: 1040px
}

.db-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 5px;
}

.date_info {
    font-size: 12px;
}

.tooltip-left .tooltip-inner {
    text-align: left;
    white-space: normal;
}


/*Аватар профиля*/
.profile-photo-container {
    overflow: hidden;
    display: inline-block;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.profile-photo:hover {
    transform: scale(1.05);
}

.avatar-img {
    width: 20px;
    height: 20px;
    border-radius: 20%;
    object-fit: cover;
    border: 1px solid #fff;
}
