{% extends 'base.html' %}

{% block title %}Схемы базы данных{% endblock %}

{% block content %}

    {% if error_message %}
        <div class="alert alert-danger">
            <i class="bi bi-exclamation-triangle-fill"></i> {{ error_message }}
        </div>
    {% endif %}


    <h2 class="text-center mb-4">Схемы базы данных: {{ project.db_name }}</h2>
    <div class="card shadow-lg border-0 mx-auto panel-input">
        <div class="card-body text-top">
            <h5 class="card-title d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center gap-2">
                    <img class="db-image" src="{{ project.data_base_name.images_db.url }}" alt="{{ project.data_base_name.name }}">
                    <span>{{ project.data_base_name }}</span>
                </div>
            </h5>
            <h5><strong>Проект:</strong> {{ project.db_project }}</h5>

            <h5><strong>Доступные схемы:</strong></h5>
            <ul class="list-group">
                {% for schema in schemas %}
                    <li class="list-group-item">
                        <i class="bi bi-folder"></i>
                        {#                            <a href="{% url 'schema_tables' project.pk schema %}" class="text-decoration-none">#}
                        {{ schema }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="d-flex justify-content-between mt-3">
                <a href="{% url 'projects' %}" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Назад
                </a>
                {#                <a href="{% url 'create_schema' project.pk %}" class="btn btn-success">#}
                <i class="bi bi-plus-lg"></i> Создать схему
                </a>
            </div>
        </div>
    </div>
{% endblock %}
