{% extends 'base.html' %}

{% block title %}Редактирование проекта: {{ database.db_project }}{% endblock %}

{% block content %}
    <h1 class="text-center mb-2">Редактирование проекта: {{ database.db_project }}</h1>
    <div class="card shadow-lg border-0 mx-auto p-4 panel-input">
        <div class="card-body">
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>Пожалуйста, исправьте ошибки в форме.</strong>
                    </div>
                {% endif %}
<div class="row mb-2">
  <label for="id_data_base_name" class="col-sm-4 col-form-label text-end"><strong>Подключение:</strong></label>
  <div class="col-sm-8">
    {{ form.data_base_name }}
    {% if form.data_base_name.errors %}
      <div class="text-danger">{{ form.data_base_name.errors }}</div>
    {% endif %}
  </div>
</div>
                <div class="row mb-2">
                    <label for="id_db_project" class="col-sm-4 col-form-label text-end"><strong>Проект:</strong></label>
                    <div class="col-sm-8">
                        {{ form.db_project }}
                        {% if form.db_project.errors %}
                            <div class="text-danger">{{ form.db_project.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="id_db_name" class="col-sm-4 col-form-label text-end"><strong>Название базы данных:</strong></label>
                    <div class="col-sm-8">
                        {{ form.db_name }}
                        {% if form.db_name.errors %}
                            <div class="text-danger">{{ form.db_name.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="id_db_user" class="col-sm-4 col-form-label text-end"><strong>Пользователь:</strong></label>
                    <div class="col-sm-8">
                        {{ form.db_user }}
                        {% if form.db_user.errors %}
                            <div class="text-danger">{{ form.db_user.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="id_db_password" class="col-sm-4 col-form-label text-end">
                        <strong>Пароль:</strong>
                    </label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            {{ form.db_password }}
                            <button type="button" class="btn btn-outline-secondary" id="togglePassword" tabindex="-1" aria-label="Показать/скрыть пароль"><i class="bi bi-eye"></i></button>
                        </div>
                        {% if form.db_password.errors %}
                            <div class="text-danger">{{ form.db_password.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="id_db_host" class="col-sm-4 col-form-label text-end"><strong>Хост:</strong></label>
                    <div class="col-sm-8">
                        {{ form.db_host }}
                        {% if form.db_host.errors %}
                            <div class="text-danger">{{ form.db_host.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="id_db_port" class="col-sm-4 col-form-label text-end"><strong>Порт:</strong></label>
                    <div class="col-sm-8">
                        {{ form.db_port }}
                        {% if form.db_port.errors %}
                            <div class="text-danger">{{ form.db_port.errors }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="mt-3 d-flex justify-content-between">
                    <a href="{% url 'projects' %}" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Назад</a>
                    <button type="submit" name="check_connection" value="true" class="btn btn-info"><i class="bi bi-arrow-repeat"></i> Синхронизация</button>
                    <a href="#" class="btn btn-success"><i class="bi bi-database"></i> Подключиться</a>
                    <button type="submit" class="btn btn-success"><i class="bi bi-save"></i> Сохранить</button>
                </div>

            </form>
        </div>
    </div>



{% endblock %}
